@import "mixins/mixins";
@import "common/var";

@include b(excel-upload) {
    .btn-browse{
        background:#fff;
        color:#000;
        border-color:#8eb0b1;
    }
    .upload-excel{
        display: flex;
    }
    .w300{
        width: 300px;
        align-items: baseline;
    }
    .mgr5{
        margin-right: 5px;
    }
}
