@import "mixins/mixins";
@import "common/var";

@include b(file-upload) {
    $width: 90px;
    .yl-upload-cont {
        line-height: 1;
        padding-top: 5px;
    }
    .yl-file-img{
        height: 100%;
    }
    .el-upload--text{
        .el-icon-plus{
            display: none;
        }
    }
    .el-upload--picture-card {
        background-color: #fbfdff;
        border: 1px dashed #c0ccda;
        border-radius: 6px;
        box-sizing: border-box;
        width: $width;
        height: $width;
        cursor: pointer;
        line-height: $width;
        vertical-align: top;
        margin-bottom: 8px;
    }
    .el-upload-list--picture-card .el-upload-list__item {
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #c0ccda;
        border-radius: 6px;
        box-sizing: border-box;
        width: $width;
        height: $width;
        margin: 0 8px 8px 0;
        display: inline-block;
    }
    .el-upload-list--picture-card .el-upload-list__item-actions{
        display: flex;
        align-items: center;
        justify-content: center;
        span + span{
            margin-left: 10px;
        }
    }
}
