@import "mixins/mixins";
@import "common/var";

@include b(region-picker) {
    .towCol {
        width: 45%;
        margin-bottom: 5px;
    }
    .threeCol{
    	width: 32.5%;
        margin-bottom: 5px;
    }
}
