@import "mixins/mixins";
@import "common/var";
$color-blue: #2196F3;
$space-width: 18px;

@include b(table-tree) {
    .el-table {
        margin: 15px 0;
        th {
            background-color: #ecf1f6;
            padding: 5px 0;
            line-height: 32px;

            .cell {
                line-height: 26px;
            }
        }
        &:before {
            background-color: transparent !important;
        }

        th,
        td {
            padding-left: 5px;
        }
    }

    .el-table__expanded-cell {
        padding: 20px 30px;
    }

    .el-table .table-header {
        background: #f5f7fa;
    }

    .el-table__empty-text {
        font-size: 14px;
    }

    .el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
    .el-table__body tr.current-row>td,
    .el-table__body tr.current-row:hover>td,
    .el-table__body tr.hover-row.current-row>td,
    .el-table__body tr.hover-row.el-table__row--striped.current-row>td {
        background-color: #bed9f7;
    }

    .el-table__footer-wrapper {
        .el-table__footer {
            font-size: 14px;
            font-weight: bold;
        }
    }
}